@tailwind base;
@tailwind components;
@tailwind utilities;


/* MEDIA QUERY PRINCIPAL  */
@media only screen and (max-width: 768px) {
  .principal {
    flex-direction: column;
    align-items: center;
  }
  .logo{
    width: 5%;
  }
  .principal2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 10px;
  }
  .principal3 {
    width: 80%;
    margin: 20px auto;
  }

  .principal6{
    width: 190%;
  }
  .principal9{
    width: 93%;
  }
}

@media only screen and (max-width: 1380px) {
  .principal {
    flex-direction: column;
    align-items: center;
  }
  .principal2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
  }
  .principal3 {
    width: 90%;
    margin: 15px auto;
  }
  .logo{
    width: 20%;
    margin-left: 10%;
  }
  .principal6{
    width: 190%;
  }
  .principal9{
    width: 93%;
  }

}

/* MEDIA QUERY CREATE ACCOUNT */
@media only screen and (max-width: 768px) {
  .create1{
    width: 100%;
    height: 7%;
    font-size: 10px;
  }
  .logo{
    display: none;
  }
  .create2{
    display: none;
  }
  .create{
    width: 50%;
    height: 40%;
  }
  .create4{
    margin-top: 12px;
    margin-left: 20px;
  }
}


/* MEDIA QUERY MAIN PAGE */
@media only screen and (max-width: 1500px) {
  /* .main1{
    width: 40%;
    font-size: 10px;
    height: 70%;
  } */
  /* .main1 h1{
    font-size: 10px;
  } */
  /* .main2{
    height: 400px;
    font-size: 10px;
  } */
  /* .main2 img{
    width: 40px;
    height: 40px;
  } */
  /* .main2 h2{
    font-size: 10px;
  } */
  /* .main5{
    display: none;
  } */
  /* .main3{
    margin: left -10px;;
  } */
}
/* 
@media only screen and (max-width: 650px) {
  .main4{
    font-size: 10px;
  }
  .main4 h3{
    font-size: 10px;
  }
} */





/* MEDIA QUERY LO QUE SEA */
/* @media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 1380px) {
  
} */


.div-app{
    background-color: black;
  }

  .texto-azul{
    color: rgb(10, 136, 239);
  }

  .titulo{
    font-family: "Kanit", sans-serif;
  font-weight: 900;
  }

  .fondo-btn{
    background-color:rgb(10, 136, 239) ;
    border: rgb(10, 136, 239);
  }

  /* CSS MODAL CREATE ACCOUNT */
  .modal-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    display: none;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
  }

  .show{
    pointer-events: auto;
    display: block;
  }

  .modal{
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -50%;
  }

  /* MODAL SIGN IN IN X */
  .modal-container2{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    display: none;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
  }

  .modal{
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -50%;
  }
  


  /* MEDIA QUERY PARA PANTALLAS MEDIANAS */

  /* @media screen and (max-width: 800px) {
    .titulo{
      width: 30%;
    }
    .botones-google{
      width: 30%;
    }
  } */

  /* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
/* 
  @media screen and (max-width: 480px) {
    .titulo{
      width: 10%;
    }
    .botones-google{
      width: 20%;
    }
  } */